@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:300,400,500');

.App {
  font-family: 'Lato', sans-serif;
  padding-top: 2rem;
  background: #f5f5f5;
}

.item {
  margin-top: 1rem;
  margin-bottom: 1rem; 
}

.item > h3 {
  color: #212121;
  font-weight: 400;
  margin: .5em 0;
}

ul.info-list {
  list-style-type: circle;
  margin-left: 2rem;
}

.Info-title {
  color: #dd4814 !important;
  text-align: center;
}

@media (min-width:641px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  ul.info-list {
    margin-left: 2rem;
  }

  .Info-title {
    text-align: left;
  }
}
